xml/schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Auto">
    <xs:complexType>
      <xs:sequence>

        <!-- Automarke und Autobezeichnung -->
        <xs:element name="Automarke" type="xs:string"/>
        <xs:element name="Autobezeichnung" type="xs:string"/>
        <xs:element name="Leistung" type="xs:string"/>
        <xs:element name="max_Drehmoment" type="xs:string"/>
        <xs:element name="Hubraum" type="xs:string"/>
        <xs:element name="Zylinderzahl" type="xs:integer"/>
        <xs:element name="Verbrauch" type="xs:string"/>
        <xs:element name="Leergewicht" type="xs:string"/>
        <xs:element name="Hoechstgeschwindigkeit" type="xs:string"/>
        <xs:element name="Beschleunigung_0_100" type="xs:string"/>
        <xs:element name="Erscheinungsjahr" type="xs:gYear"/>
        <xs:element name="Anzahl_tueren" type="integer"/>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
